# IDE / OS
.idea/
.vscode/
*.iml
.DS_Store
Thumbs.db

# Spring Boot target build
**/target/
**/HELP.md

# Next.js build & dependencies
**/node_modules/
**/.next/
**/out/
**/build/
.env*.local

# Logs
*.log
